<!DOCTYPE html>
<html>
	<head>
		<title id="title">Doodleman</title>
    <link rel="stylesheet" href="res/style.css"/>
		<link rel="stylsheet" href="https://fonts.googleapis.com/css?family=Catamaran"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script>var spoopy = {% if spoopy %}true{% else %}false{% endif %};</script>
		{{scripts}}
		<script>User.setInfo("{{name}}","{{log_url}}");{% if user %} User.loggedIn = true;{% endif %}</script>
	</head>
	<body>
		<h1>Doodleman</h1>
		<canvas id="paper" width='640' height='360'></canvas>
		<p>&copy; 2017 DieGo.</p>
		<div id="output">.</div>
		<input hidden type="file" id="fileInput"/>
	</body>
</html>
