<!DOCTYPE html>
<html>
	<head>
		<title id="title">Doodleman</title>
    <link rel="stylesheet" href="res/style.css"/>
		<link href="https://fonts.googleapis.com/css?family=Fredoka+One|Gochi+Hand" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		{{scripts}}
	</head>
	<body>
		<h1>Doodleman</h1>
		<canvas id="paper" width='640' height='360'></canvas>
		{% block editor %}{% endblock %}
		<p>&copy; 2018 DieGo.</p>
		<input hidden type="file" id="fileInput"/>
		<a hidden download="Doodleman Level.json" id="fileOutput"></a>
	</body>
</html>
