<!DOCTYPE html>
<html>
	<head>
		<title id="title">Doodleman</title>
    <link rel="stylesheet" href="res/style.css"/>
		<link rel="stylsheet" href="https://fonts.googleapis.com/css?family=Catamaran"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		{{scripts}}
		<script>User.setInfo("{{name}}","{{log_url}}");{% if user %} User.loggedIn = true;{% endif %}</script>
		<!-- <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!- - dm home - ->
		<ins class="adsbygoogle"
		     style="display:block"
		     data-ad-client="ca-pub-7912824152015008"
		     data-ad-slot="5511860609"
		     data-ad-format="auto"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script> -->
	</head>
	<body>
		<h1>Doodleman</h1>
		<canvas id="paper" width='640' height='360'></canvas>
		{% block editor %}{% endblock %}
		<p>&copy; 2017 DieGo.</p>
		<input hidden type="file" id="fileInput"/>
		<a hidden download="Doodleman Level.json" id="fileOutput"></a>
	</body>
</html>
